<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white fs-2 fw-bold text-decoration-none text-gradient"> Notes </a>
        <div class="col-md-3 text-end">
            <a href="auth/google" type="button" class="btn btn-outline-primary me-2">Login</a>
            <a href="auth/google" type="button" class="btn btn-primary">Sign-up</a>
        </div>
    </header>
</div>
