<div class="container-fluid container-fluid-custom">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0 home">
                <h1 class="display-2 fw-bold mb-4 p-4 position-relative home-title text-gradient">Page not found.</h1>
                <a href="/auth/google" class="btn btn-primary btn-lg">Explore Notes</a>
            </div>
        </div>
    </main>
</div>
