<div class="container-fluid container-fluid-custom">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0 home ">
                <h1 class="display-2 fw-bold mb-4 p-4 position-relative home-title text-gradient">Viết ra những suy nghĩ của bạn khi chúng đến với bạn.</h1>
                <p class="ps-4 mb-4 text-gradient">Ghi chú là một ứng dụng ghi chú miễn phí đơn giản để sử dụng được thực hiện với NodeJS, EJS &; MongoDB.</p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Dùng thử Ghi chú, MIỄN PHÍ</a>
            </div>
        </div>
    </main>
</div>
